.centeralign{
    text-align:center
}

.centerblock{
    float:center;
    line-height:15px;
    text-align: center
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

.header{
    font-size:13px;
    font-weight: bold;
    font: bold 13px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.subheader{
    font-size:12px;
    font-weight: bold;
    font: bold 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#header {
	background:#4f6b72;
	padding:10px;
	margin:0;
	text-align:center;
	color:#FFF;
	}
#header h1 {
	font-size:200%;
	}
#header a:hover {
	color:#7A2875;
	}
#maincol {
	position:relative;
	margin:0;
	padding:10px;
	}
#leftcol { 
	position:relative;
	top:-10px;
	left:21%;
	float:left;
	width:23%;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:100px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	z-index:100;
	}
#rightcol {
	position:relative;
	top:-10px;
	right:21%;
	float:right;
	width:23%;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:100px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	z-index:99;
	}
#centercol {
	position:relative;
	padding:0 0px;
	}
#centercol a {
	color:#666;
	}
#centercol a:hover {
	border-bottom:1px solid;
	color:#9343B9;
	}
#footer {
	position:relative;
	top:1px;
	background:#4f6b72;
	width:100%;
	clear:both;
	margin:0;
	padding:1% 0;
	text-align:center;
	color:#CCC;
	}

body
{
    padding:0;
    border:0;
    margin:0;
    font-size:12px;
    font: 12px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    min-width: 800px;
    }
    table
    {
        width: auto;
        padding: 0;
        margin: 0 auto 1.5em auto;
        border-top: 1px solid #8998AB;
        border-bottom: 1px solid #8998AB;
        border-left: 1px solid #8998AB;
        border-right: 1px solid #8998AB;
        border-collapse:collapse;
    }
    td a
    {
        text-decoration:none;
        color:#239;
        background:transparent;
    }
    td img
    {
        margin:0 auto;
        border:0px solid #ddd;
        display:inline-block;
        vertical-align: middle;
    }
    td a:hover
    {
        color:#a84444;
        border-bottom:1px dotted #a80000;
        background:transparent;
    }
    td
    {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #8998AB;
        border-bottom: 1px solid #8998AB;
        padding: 6px 12px 6px 12px;
        color: #4f6b72;
    }
    th
    {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #8998AB;
        border-bottom: 1px solid #8998AB;
        padding: 6px 12px 6px 12px;
        color: #4f6b72;
    }
